@import "variables";
/*SECTIONS*/
section {
    width: 100%;
}
.sec_menu {
    position: relative;
    // height: 30%;
}
.sec_btn {
    padding: 15px;
    margin-top: 480px;
    text-align: center;
}
.sec_logo {
    // padding: 0;
    // position: relative;
    .logo {
        width: 100%;
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    img {
        position: relative;
        display: flex;
        justify-content: center;
        // bottom: 0;
        // text-align: center;
    }
    svg {
        position: absolute;
        width: 200px;
        margin: auto 0;
    }
}
/* BRANDING - in CANVAS */

.shape {
    width: 100%;
    min-height: 160px;
    padding: 35px;
    width: 100%;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 55px;
}

.tile_1st {
    // top: 0;
    display: flex;
    flex-direction: column;
    color: $secondaryText;
    position: absolute;
    // z-index: 5;
    background: $headerColor;
}

.tile_2nd {
    position: absolute;
    color: $primaryText;
    // top: 130px;
    background: $bradingColor-3;
}

.tile_3rd {
    position: absolute;
    color: $primaryText;
    // top: 220px;
    background: $bradingColor-2;
    // z-index: 3;
}

.tile_4th {
    position: absolute;
    color: $primaryText;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    background: $bradingColor-1;
    // z-index: 2;
}

.subtile {
    height: 190px;
    width: 100px;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    box-shadow: none;
    background: #00000012;
    transition: all 1s ease-in-out;
    &:hover {
        width: 140px;
        background: #00000032;
    }
}

/* Text */

.data_place {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
}

/* Button */
.btn.btn-primary {
    background-color: #ffffff01;
    color: $secondaryText;
    text-transform: uppercase;
    border-color: $bradingColor-3;
    transition: all 1s ease-in-out;

    &:hover {
        transform: scale(1.1);
        background-color: $primaryText;
    }
}
.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
}

button {
    &:focus {
        border: none;
        box-shadow: none;
        outline: none;
    }
}
/* MODAL VIEW */

.modal-body {
    padding: 0;
    color: #fff;
}

.modal-content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.849);
}
.modal-title {
    color: #fff;
}
.close {
    font-size: 2rem;
    color: $secondaryText;
    &:hover {
        color: $primaryText;
    }
}
/*Radio Button on Vibe Popuo */

.vibe {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    width:100%;
    margin:5px;
    border-radius: 15px;
    background-color: rgba(196, 164, 59, 0.274);
    }

select.select_vibe {
    color: $primaryText;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: 65px;
    font-size: 1.2rem;
    text-decoration: underline;

    &:focus {
        outline: none;
    }
    option {
        background: rgba(0, 0, 0, 0.2);
        color: $secondaryText;
    }
}
select::-ms-expand {
    display: none;
}
