
/*BRANDING COLORS */
$bradingColor-1:    #fddf36;
$bradingColor-2:    #f99718;
$bradingColor-3:    #e32b16;
$bradingColor-4:    #780c04; 

$headerColor:       #000000;
$backgroundColor:   #fcf6ef;


/*PRIMARY TEXT COLORS */
$primaryText:       #f3d7b3;
$secondaryText:     #e32b16;

