

/*BRANDING COLORS */
$bradingColor-1:    #f7c43a;
$bradingColor-2:    #f99718;
$bradingColor-3:    #e32b16;
$bradingColor-4:    #780c04; 

$headerColor:       #000000;
$backgroundColor:   #faedca;


/*PRIMARY TEXT COLORS */
$primaryText:       #faeedd;
$secondaryText:     #e32b16;


/* FONT */
$fontName:         'Roboto',sans-serif;
$lineHieght:        1rem;