@import './Assets/scss/variables';
/*FONTS*/
@font-face {
  font-family: 'Futura';
  src: url('./fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body{
  height: 100%;
  width: 100;
  margin: 0;
  padding: 0;
  font-family: $fontName;
  line-height: $lineHieght;
  overflow: hidden;
  background-color: $backgroundColor;
  font-family: 'Futura', Helvetica, Arial, sans-serif;
}

.react-icons {
  vertical-align: middle;
}
.container-fluid{
  padding: 0;
}