@import './Assets/scss/variables';
html, body{
  height: 100%;
  width: 100;
  margin: 0;
  padding: 0;
  font-family: $fontName;
  line-height: $lineHieght;
  overflow: hidden;
  background-color: $backgroundColor;
}

.react-icons {
  vertical-align: middle;
}
.container-fluid{
  padding: 0;
}